@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;




html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Playwrite DE Grund", cursive !important;
  font-optical-sizing: auto;

  font-style: normal;
}


@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideInFromBottom 0.5s ease-out;
}


@keyframes easeInOutBack {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  50% {
    transform: translateY(-10%);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.ease-in-out-back {
  animation: easeInOutBack 0.8s ease-in-out;
}


@keyframes waveEffect {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.aliveImage {
  animation: waveEffect 5s infinite ease-in-out;
}


@keyframes ripple {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.tapcoin-animation {
  transition: transform 0.2s ease-in-out;
}

/* Shrinks the coin on tap */
.tapcoin-animation:active {
  transform: scale(0.9); /* Slightly reduce the size */
}

/* coin-animation.css */

@keyframes coinAnimation {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}

.coin-animation {
  animation: coinAnimation 2s ease-out forwards;
}


a {
  color: inherit !important;
  text-decoration: inherit !important;
}

.bg-main{
  background-color: #00a6de!important;

}
.bg-black{
  background-color: #000!important;
}

:root{
  --bs-warning: #ffc247!important;
  --bs-warning-rgb: 255, 194, 71!important;
}