@tailwind base;
@tailwind components;
@tailwind utilities;




html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family:cursive !important;
}


@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideInFromBottom 0.5s ease-out;
}


@keyframes easeInOutBack {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  50% {
    transform: translateY(-10%);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.ease-in-out-back {
  animation: easeInOutBack 0.8s ease-in-out;
}


@keyframes waveEffect {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.aliveImage {
  animation: waveEffect 5s infinite ease-in-out;
}


@keyframes ripple {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.rippleContainer {
  position: relative;
  width: 394px;
  height: 760px;
}

.aliveImage {
  width: 100%;
  height: 100%;
}

.rippleOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: ripple 2s infinite ease-in-out;
  pointer-events: none;
  /* To make sure it doesn't block interactions */
}

a {
  color: inherit !important;
  text-decoration: inherit !important;
}

.bg-main{
  background-color: #00a6de!important;

}
.bg-black{
  background-color: #000!important;
}